html {
    font-size: 1rem;
  }
@media (min-width: 530px) {
    font-size: 1.2rem;

}
@media (min-width: 830px) {
    font-size: 1.4rem;

}
@media (min-width: 1600px) {
    font-size: 1.6rem;

}
body {
    background: url("/images/background.jpg") no-repeat center fixed;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
h1, h2 {
    font-family: 'Rock Salt', cursive;
    color: white;
}
h3, h4 {
    font-family: 'Rock Salt', cursive;
    color: white;

}
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    font-family: 'Rock Salt', cursive;
    z-index: 0;
    border-bottom: 5rem solid black;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  .logo {
      position: absolute;
      height: 3.5rem;
      width: 3.5rem;
      z-index: 1;
  }

#getItDone{
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    opacity: 0.5;
    height: 110%;
    width: 100%;
    z-index: 1;
}
#top {
    position: relative;
    z-index: 2;
}
#about {
    position: relative;
    z-index: 0;
    height: 90%;
    
}
#blog {
    position: relative;
    z-index: 2;
}
.background{
    margin: 0;
}
a {
    font-family: 'Rock Salt', cursive;
    color: white;
}
img {
    height: 10rem;
    width: 5rem;
}
.weather-item {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-bottom: .3rem dashed white;
    margin-bottom: 1rem;
}