html {
    font-size: 1rem;
  }
@media (min-width: 530px) {
    font-size: 1.2rem;

}
@media (min-width: 830px) {
    font-size: 1.4rem;

}
@media (min-width: 1600px) {
    font-size: 1.6rem;

}
h1, h2, h3, h4 {
    color: white;
    font-family: 'Rock Salt', cursive;
}
body {
    background: url("/images/background.jpg") no-repeat center fixed;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
header {
    font-family: 'Rock Salt', cursive;
    color: white;
}
img {
    height: 3.5rem;
    width: 3.5rem;
}
a {
    font-family: 'Rock Salt', cursive;
    color: white;
}
ul {
    text-decoration: none;
}
#map {
    height: 400px;  
    width: 100%;  
   }
#overlay {
    padding: 1rem;
    -moz-border-bottom-colors: #777;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
}