
h1, h2, h3, h4 {
    color: white;
    font-family: 'Rock Salt', cursive;
}
body {
    background: url("/images/background.jpg") no-repeat center fixed;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
header {
    font-family: 'Rock Salt', cursive;
    color: white;
}
img {
    height: 3.5rem;
    width: 3.5rem;
}
a {
    font-family: 'Rock Salt', cursive;
    color: white;
}
ul {
    text-decoration: none;
}
#map {
    height: 400px;  
    width: 100%;  
   }