body {
    background: url("/images/background.jpg") no-repeat center fixed;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
header {
    font-family: 'Rock Salt', cursive;
    color: white;
}
.above {
    position: relative;
    z-index: 2;
}
img {
    height: 5rem;
    width: 5rem;
}
a {
    font-family: 'Rock Salt', cursive;
    color: white;
}
ul {
    text-decoration: none;
}
.tablink {
    background-color: rgb(255, 255, 255);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  .tablink:hover {
    background-color: #777;
  }
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  .icon {
      width: 3.5rem;
      height: 3.5rem;
  }
  .profile {
      width: 10rem;
      height: 10rem;
  }